# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/src/generated/resources/assets/iden_decor/blockstates/
/src/generated/resources/assets/iden_decor/models/
/src/generated/
